#{extends 'main.html' /} 
#{set background:'true' /}

#{set 'title'}
	&{'passwordReset'}
#{/set}

#{set 'moreScripts'}
#{/set}

<div id="home-search-container" class="body">
<div class="container segoe">
<div class="row">
	<div class="head-container shadow" style="max-width:400px;margin:auto;padding:40px;">
		<form action="/password" method="POST">
		    #{authenticityToken /}
		    
		    <h2 class="segoe"><i class="fa fa-sign-in"></i> &{'passwordReset'}</h2>
		    <hr>
		    
			#{if flash.securityError}	
			<div class="alert alert-danger alert-dismissable">
		  		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		  		<small><strong>${flash.securityError}</strong></small>
			</div>
			#{/if}

			#{if flash.access}	
			<div class="alert alert-danger alert-dismissable">
		  		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		  		<small><strong>${flash.access}</strong></small>
			</div>
			#{/if}
			
			<div class="form-group">
				<input type="text" class="full-width big" id="login" name="username" value="${params.username}" placeholder="&{'input.login'}" autofocus/>
			</div>
			
			<div class="form-group">
				<input type="hidden" value="${params.uuid}" name="uuid" />
				<input type="text" placeholder="&{'captcha'}" class="big3" style="display:inline !important;width:20%" name="captcha"/>
				<img src="/captcha?uuid=${params.uuid}&exp=20">
				<div class="error">#{error 'captcha' /}</div>
			</div>			
	
			<br/>
			<button class="btn btn-large btn-realto span2 pull-right header-cta" style="top: 0px;"><i class="fa fa-sign-in"></i> &{'submit'}</button>
			<br/>
			<br/>
		</form>
	</div>
</div>
</div>
</div>

