#{extends 'main.html' /}
#{set background:'true' /}
#{set 'title'}
	&{'passwordChange'}
#{/set}

<div id="home-search-container" class="body">
<div class="container">
<div class="row">
	<div class="span3"></div>
	<div class="span6 shadow" style="padding:40px;background:rgba(255,255,255,0.9)">
		<form action="/password-change" method="POST">
		    <h2 class="segoe">&{'passwordChange'}</h2>
		    <hr>
			
		    #{if errors}
		    	<div class="error">
		    		#{error 'all' /}
		    	</div>
			#{/if} 
			
			<br/>
			<div class="form-group">
				<input type="password"class="span6" id="password" name="oldPassword" value="${params.oldPassword}"  placeholder="&{'input.password.old'}"/>
				<div class="error">#{error 'oldPassword' /}</div>
			</div>
			<div class="form-group">
				<input type="password"class="span6" id="password" name="password" value="${params.password}"  placeholder="&{'input.password'}"/>
				<div class="error">#{error 'password' /}</div>
			</div>
			<div class="form-group">
				<input type="password" class="span6" id="passwordRepeat" name="passwordRepeat" value="${params.passwordRepeat}"  placeholder="&{'input.password.repeat'}"/>
				<div class="error">#{error 'passwordRepeat' /}</div>
			</div>					
			
			<div class="form-group">
				<button class="btn span2 btn-realto pull-right" type="submit">&{'submit'}</button>				
				<a href="/" class="pull-right" style="margin:5px;margin-right:20px">&{'cancel'}</a>
			</div>
			<div style="clear:both"></div>
		</form>
	</div>
	<div class="span3"></div>

</div>
</div>
</div>

