#{extends 'main.html' /}
#{set 'title'}
	&{'about.us'}
#{/set}
<div class="container">
	<div class="row">
		<div class="span12">
			<div class="box-container">



<div class="padding30">
<h2 class="page-title">Podmienky použitia a ochrana osobných údajov</h2>
<p><img class="alignnone size-full wp-image-276" alt="image2" src="//www.loacker-kosice.cc/typo3temp/pics/91a8fd3722.jpg" width="1453" height="702"></p>
<h1>Podmienky použitia</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac lacus metus. Duis rhoncus sem arcu, a vestibulum leo varius at. Fusce sed vestibulum eros. Integer nec turpis a nisi tempor placerat. Pellentesque pulvinar justo velit, auctor tempor felis pulvinar eu. Mauris facilisis semper pharetra. In neque elit, faucibus mollis quam sit amet, malesuada fringilla nulla.</p>
<ol>
<li>Vivamus non quam vitae metus cursus molestie.</li>
<li>Pellentesque metus tellus, pellentesque ut ligula a, dignissim imperdiet nunc.
<ol>
<li>Donec quis sem nec mi pretium congue.</li>
<li>Suspendisse consectetur dui vel elementum ornare.</li>
</ol>
</li>
<li><span style="line-height: 1.5em;">In vulputate lorem nec pretium laoreet. </span></li>
<li><span style="line-height: 1.5em;">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </span></li>
<li><span style="line-height: 1.5em;">Fusce suscipit vulputate magna vitae fermentum.</span></li>
<li><span style="line-height: 1.5em;"> Proin accumsan a justo nec suscipit.</span></li>
</ol>
<h1>Ochrana osobných údajov</h1>
<p>Etiam auctor est sem, et congue metus malesuada in. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Ut eros augue, imperdiet quis dolor auctor, hendrerit ultrices metus. Sed nisi sem, semper sed elit quis, gravida consequat lorem. Nulla facilisis mauris nec bibendum sagittis. Nulla lacinia elit at odio viverra condimentum.</p>
<blockquote><p>Suspendisse justo lectus, fermentum quis condimentum at, cursus a elit. Sed pellentesque elementum mi ac luctus. Cras in purus quis ligula mollis porttitor. Nam feugiat condimentum libero in ultrices.</p></blockquote>
<p>Vestibulum sodales orci non dui rhoncus suscipit. Ut velit nibh, porttitor ac lectus in, dignissim malesuada sapien. In a neque purus. Vivamus vitae viverra orci. Donec accumsan, purus ac rhoncus dapibus, nisi lacus suscipit est, a facilisis enim lorem at ipsum. Duis eleifend placerat arcu.</p>
<ul>
<li>Sed commodo aliquam dolor, sit amet mattis turpis feugiat tincidunt.</li>
<li>Aliquam consequat vestibulum nibh nec porta.
<ul>
<li>Vivamus a euismod eros. Donec et lacinia diam.</li>
<li>Praesent malesuada dui laoreet viverra mollis.</li>
</ul>
</li>
<li><span style="line-height: 1.5em;">Etiam vitae magna eu ipsum adipiscing varius. </span></li>
<li><span style="line-height: 1.5em;">Aliquam commodo rhoncus sem, ut consectetur augue pulvinar mollis. </span></li>
</ul>
<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed consectetur dolor ac molestie accumsan. Cras ut neque vel urna venenatis consequat eget a ipsum. Cras rutrum porttitor lorem. Etiam at mauris vitae lectus tincidunt rhoncus. In ac molestie elit. In hac habitasse platea dictumst.</p>
<p><img class="alignleft size-thumbnail wp-image-207" alt="3" src="//i01.i.aliimg.com/photo/v0/101141155/Scrap_Metal_Millberry.jpg" width="150" height="150">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac lacus metus. Duis rhoncus sem arcu, a vestibulum leo varius at. Fusce sed vestibulum eros. Integer nec turpis a nisi tempor placerat. Pellentesque pulvinar justo velit, auctor tempor felis pulvinar eu. Mauris facilisis semper pharetra. In neque elit, faucibus mollis quam sit amet, malesuada fringilla nulla.</p>
<p>Vivamus non quam vitae metus cursus molestie. Pellentesque metus tellus, pellentesque ut ligula a, dignissim imperdiet nunc. Donec quis sem nec mi pretium congue. Suspendisse consectetur dui vel elementum ornare. In vulputate lorem nec pretium laoreet. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce suscipit vulputate magna vitae fermentum. Proin accumsan a justo nec suscipit.</p>
<p><img class="alignright size-thumbnail wp-image-186" alt="1" src="//i01.i.aliimg.com/photo/v0/101141155/Scrap_Metal_Millberry.jpg" width="150" height="150">Sed commodo aliquam dolor, sit amet mattis turpis feugiat tincidunt. Aliquam consequat vestibulum nibh nec porta. Vivamus a euismod eros. Donec et lacinia diam. Praesent malesuada dui laoreet viverra mollis. Etiam vitae magna eu ipsum adipiscing varius. Aliquam commodo rhoncus sem, ut consectetur augue pulvinar mollis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed consectetur dolor ac molestie accumsan. Cras ut neque vel urna venenatis consequat eget a ipsum. Cras rutrum porttitor lorem. Etiam at mauris vitae lectus tincidunt rhoncus. In ac molestie elit. In hac habitasse platea dictumst.</p>
<p>Suspendisse venenatis dui a lectus imperdiet, sed egestas sem fringilla. Sed vestibulum, sem dapibus condimentum lobortis, neque nibh semper odio, in eleifend ligula lacus et lectus. Aenean blandit congue metus. Ut mollis auctor elementum. Etiam cursus nunc ac eleifend ultricies. Suspendisse aliquet laoreet quam, et suscipit enim blandit at. Suspendisse sollicitudin felis porttitor, dapibus purus a, gravida lectus. Nullam facilisis congue hendrerit.</p>
</div>




			</div>
		</div>
	</div>
</div>

